<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <title>Snaildy</title>
  <style>
    .gray {
      color: #6e6e6e;
    }

    h3 {
      font-weight: 500
    }

    span {
      font-weight: 600
    }
  </style>
</head>

<body>
<div>
  <h3>尊敬的${deptName}的 ${username} 您好，歡迎使用Snaildy SEN管理系統。<br />
    您的帳號及密碼是，<br />

    <span>帳號：${username}</span><br />
    <span>密碼：${newPw}</span><br /></h3>
  <h4 class="gray">*首次登入會強制要求更改密碼。</h4><br />

  <h3>願攜手為特殊需要學生創造美好的未來。<br />
    <br />

    Dear user, welcome to Snaildy SEN management system.<br />
    Your account and password is,<br />

    <span>Account: ${username}</span><br />
    <span>Password: ${newPw}</span><br /></h3>
  <h4 class="gray">*First login will force a password change.</h4><br />

  <h3>Willing to work together to create a better future for students with special needs.</h3>
  <img style="width: 400px;"
       src="https://www.snaildy.com/upload/15936149185013.9383847682045836_snaildyLogo.png" />
</div>
<script></script>
</body>

</html>
