<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <title>HouseKeeping</title>
  <style>
    .gray {
      color: #6e6e6e;
    }

    h3 {
      font-weight: 500
    }

    span {
      font-weight: 600
    }
  </style>
</head>

<body>
<div>
  <h3>尊敬的用户 您好，歡迎使用HouseKeeping系統。<br />
    您的验证码是，<br />

    <span>${code}</span><br /></h3>


    如果不是您本人，请忽略<br />
</div>
<script></script>
</body>

</html>
