<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.CompanyPromotionMapper">

	<resultMap id="baseResultMap" type="com.housekeeping.admin.dto.CompanyPromotionDTO">
		<id property="id" column="id"/>
		<result property="companyId" column="company_id"/>
		<result property="promotion" column="promotion"/>
		<result property="endTime" column="end_time"/>
		<result property="days" column="days"/>
		<result property="tokens" column="tokens"/>
		<result property="companyName" column="company_name"/>
	</resultMap>

	<select id="getInfoById" resultMap="baseResultMap">
		SELECT
			cp.id,
			cp.company_id,
			cp.days,
			cp.promotion,
			cp.end_time,
			cd.tokens,
			cd.company_name
		FROM
			company_promotion AS cp
		LEFT JOIN company_details AS cd ON cp.company_id = cd.id
		WHERE company_id = #{companyId}
	</select>

	<select id="getCompanyByRan" resultType="java.lang.Integer">
		SELECT
		id
		FROM
		company_promotion
		WHERE end_time > NOW()
		order by rand() limit #{random}
	</select>

	<select id="getAllProCompIds" resultType="java.lang.Integer">
		SELECT
		id
		FROM
		company_promotion
		WHERE end_time > NOW()
	</select>
</mapper>
