<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.CompanyDetailsMapper">
    <update id="updateLogoUrlById">
        UPDATE company_details
        SET logo_url = #{logoUrl}
        WHERE user_id = #{reviserId}
    </update>
    <update id="updateFiveImgUrlByUserId">
        UPDATE company_details
        SET photos = #{imgUrl}
        WHERE user_id = #{reviserId}
    </update>
    <update id="updateById">
        UPDATE company_details
        SET last_reviser_id = #{lastReviserId},
            address1 = #{companyDetailsDTO.address1},
            address2 = #{companyDetailsDTO.address2},
            address3 = #{companyDetailsDTO.address3},
            address4 = #{companyDetailsDTO.address4},
            service_hotline = #{companyDetailsDTO.serviceHotline},
            email = #{companyDetailsDTO.email},
            web_pages = #{companyDetailsDTO.webPages},
            account_line = #{companyDetailsDTO.accountLine},
            connection_facebook = #{companyDetailsDTO.connectionFacebook},
            connection_instagram = #{companyDetailsDTO.connectionInstagram},
            describes = #{companyDetailsDTO.describes},
            method_payment = #{companyDetailsDTO.methodPayment}
        WHERE id = #{companyDetailsDTO.id}
    </update>
    <select id="getLogoUrlByUserId" resultType="java.lang.String">
        SELECT logo_url
        FROM company_details
        WHERE user_id = #{userId}
    </select>
    <select id="getPhotosByUserId" resultType="java.lang.String">
        SELECT photos
        FROM company_details
        WHERE user_id = #{userId}
    </select>

    <update id="authSuccess">
        UPDATE company_details
        SET is_validate = true
        WHERE id = #{companyId}
    </update>

    <update id="cusUpdateById">
        UPDATE company_details set tokens = #{tokens} + 5 ,is_new = 0 WHERE id = #{id}
    </update>

    <update id="buyTokens">
        UPDATE company_details set tokens = #{tokens} + #{buyTokens} WHERE id = #{id}
    </update>

    <update id="promotion">
         UPDATE company_details set tokens = #{ctokens} - #{tokens} WHERE id = #{companyId}
    </update>
</mapper>
