<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.CustomerAddressMapper">

	<update id="updateAddress">
		UPDATE customer_address
		SET `name` = #{name}, address = #{address},lng	=	#{lng},lat	=	#{lat},phone_prefix = #{phonePrefix},phone = #{phone}
		WHERE id = #{id}
	</update>

	<update id="setNotDefault">
		UPDATE customer_address
		SET is_default = false
		WHERE customer_id = #{customerId}
    </update>

	<update id="setDefault">
		UPDATE customer_address
		SET is_default = true
		WHERE id = #{id}
	</update>
</mapper>
