<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.DemandOrderMapper">

    <select id="getTimes" resultType="com.housekeeping.admin.vo.TimeSlot">
        SELECT
        DISTINCT
        `start` AS timeSlotStart,
        length AS timeSlotLength
        FROM
        demand_order_details
        WHERE
        demand_order_id = #{demandId}
    </select>

    <select id="cusPage" resultType="com.housekeeping.admin.entity.DemandOrder">
        SELECT
        demand_order.id,
        demand_order.customer_id,
        demand_order.live_at_home,
        demand_order.server_place_type,
        demand_order.note,
        demand_order.parent_id,
        demand_order.job_ids,
        demand_order.housing_area,
        demand_order.estimated_salary,
        demand_order.`code`,
        demand_order.start_date,
        demand_order.end_date,
        demand_order.`week`,
        demand_order.`status`,
        demand_order.customer_name,
        demand_order.address,
        demand_order.lat,
        demand_order.lng,
        demand_order.phone_prefix,
        demand_order.phone
        FROM
        demand_order
        <where>
            <if test="query.jobIds != null and query.jobIds != ''" >
                demand_order.job_ids like concat('%',#{query.jobIds},'%')
            </if>
            <if test="query.workTypeIds != null and query.workTypeIds != ''" >
                and demand_order.parent_id like concat('%',#{query.workTypeIds},'%')
            </if>
            <if test="query.place != null and query.place != ''" >
                and demand_order.address like concat('%',#{query.place},'%')
            </if>
            <if test="query.startDate != null and query.startDate != ''" >
                and demand_order.start_date >= #{query.startDate}
            </if>
            <if test="query.lowPrice != null and query.lowPrice != '' and query.highPrice != null and query.highPrice != '' " >
                and demand_order.estimated_salary BETWEEN #{query.lowPrice} AND #{query.highPrice}
            </if>
        </where>
        order by demand_order.id DESC
    </select>
</mapper>
