<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.EmployeesPromotionMapper">

	<resultMap id="baseResultMap" type="com.housekeeping.admin.dto.EmployeesPromotionDTO">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="headUrl" column="head_url"/>
		<result property="accountLine" column="account_line"/>
		<result property="starRating" column="star_rating"/>
		<result property="promotion" column="promotion"/>
		<result property="startTime" column="start_time"/>
		<result property="endTime" column="end_time"/>
		<result property="days" column="days"/>
		<result property="tokens" column="tokens"/>
	</resultMap>

	<select id="getEmpInfoByCompanyId" resultMap="baseResultMap">
		SELECT
			ed.id,
			ed.name,
			ed.head_url,
			ed.star_rating,
			ed.account_line,
			ep.promotion,
			ep.start_time,
			ep.end_time,
			ep.days,
			cd.tokens
		FROM
			employees_details AS ed
		LEFT JOIN employees_promotion AS ep ON ed.id = ep.employees_id
		LEFT JOIN company_details AS cd ON ed.company_id = cd.id
		where
			ed.company_id = #{companyId}
			<if test=" empId != null and  empId != ''">
				and ed.id =  #{empId}
			</if>
			<if test=" empName != null and  empName != ''">
				and ed.name like concat('%',#{empName},'%')
			</if>
	</select>

	<select id="getEmpByRan" resultType="java.lang.Integer">
		SELECT
			employees_id
		FROM
			employees_promotion
		WHERE
			promotion = 1
		order by rand() limit #{random}
	</select>

    <select id="getAllProEmpIds" resultType="java.lang.Integer">
		SELECT employees_id FROM employees_promotion WHERE promotion = 1
	</select>
</mapper>
