<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.EmployeesDetailsMapper">

	<select id="getScaleById" resultType="java.lang.String">
		select scale from company_scale where id = #{id}
	</select>

	<select id="cusPage" resultType="com.baomidou.mybatisplus.core.metadata.IPage">
		SELECT
		ed.id,
		ed.number,
		ed.name,
		ed.date_of_birth,
		ed.phone,
		ed.email,
		ed.company_id,
		ed.id_card,
		ed.location,
		ed.address,
		ed.work_year,
		ed.education_background,
		ed.account_line,
		ed.describes,
		ed.scope_of_order,
		ed.number_of_orders,
		ed.hourly_wage,
		ed.phone_url,
		ed.sex,
		ed.tags,
		ed.blacklist_flag,
		ed.create_time,
		ed.update_time,
		ed.last_reviser_id,
		s.`name` as username,
		cd.company_name
		FROM
		employees_details as ed
		LEFT JOIN sys_user as s ON ed.last_reviser_id = s.id
		LEFT JOIN company_details as cd ON ed.company_id = cd.id
		WHERE ed.company_id = #{companyId}
		<if test=" id != null and  id != ''">
			and ed.id =  #{id}
		</if>
	</select>

    <select id="getAllIdsByCompanyId" resultType="java.lang.Integer">
		SELECT id FROM employees_details WHERE company_id  = #{companyId}
	</select>
	<select id="getEmpVoById" resultType="com.housekeeping.admin.entity.EmployeesDetails">

	</select>

	<update id="updateHeadUrlById">
		UPDATE employees_details
		SET head_url = #{headUrl}
		WHERE user_id = #{userId}
    </update>

	<update id="blacklist">
		UPDATE employees_details
		SET blacklist_flag = #{action}
		WHERE id = #{employeesId}
	</update>
</mapper>
