<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.EmployeesDetailsMapper">

	<resultMap id="baseResultMap" type="com.housekeeping.admin.vo.EmployeesDetailsVO">
		<id property="id" column="id"/>
		<result property="number" column="number"/>
		<result property="name" column="name"/>
		<result property="dateOfBirth" column="date_of_birth"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="companyId" column="company_id"/>
		<result property="idCard" column="id_card"/>
		<result property="location" column="location"/>
		<result property="address" column="address"/>
		<result property="workYear" column="work_year"/>
		<result property="educationBackground" column="education_background"/>
		<result property="accountLine" column="account_line"/>
		<result property="describes" column="describes"/>
		<result property="scopeOfOrder" column="scope_of_order"/>
		<result property="numberOfOrders" column="number_of_orders"/>
		<result property="hourlyWage" column="hourly_wage"/>
		<result property="phoneUrl" column="phone_url"/>
		<result property="sex" column="sex"/>
		<result property="tags" column="tags"/>
		<result property="blacklistFlag" column="blacklist_flag"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="lastReviserId" column="last_reviser_id"/>
		<result property="lastReviserName" column="username"/>
		<result property="companyName" column="company_name"/>
	</resultMap>

	<select id="getScaleById" resultType="java.lang.String">
		select scale from company_scale where id = #{id}
	</select>

	<select id="cusPage" resultType="com.baomidou.mybatisplus.core.metadata.IPage">
		SELECT
		ed.id,
		ed.number,
		ed.name,
		ed.date_of_birth,
		ed.phone,
		ed.email,
		ed.company_id,
		ed.id_card,
		ed.location,
		ed.address,
		ed.work_year,
		ed.education_background,
		ed.account_line,
		ed.describes,
		ed.scope_of_order,
		ed.number_of_orders,
		ed.hourly_wage,
		ed.phone_url,
		ed.sex,
		ed.tags,
		ed.blacklist_flag,
		ed.create_time,
		ed.update_time,
		ed.last_reviser_id,
		s.`name` as username,
		cd.company_name
		FROM
		employees_details as ed
		LEFT JOIN sys_user as s ON ed.last_reviser_id = s.id
		LEFT JOIN company_details as cd ON ed.company_id = cd.id
		WHERE ed.company_id = #{companyId}
		<if test=" id != null and  id != ''">
			and ed.id =  #{id}
		</if>
	</select>


</mapper>
