<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.GroupManagerMapper">

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM group_manager WHERE group_id = #{groupId}
    </select>

    <select id="getManIdsByGroupId" resultType="java.lang.Integer">
        SELECT manager_id FROM group_manager WHERE group_id = #{groupId}
    </select>
</mapper>
