<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.ManagerDetailsMapper">

	<resultMap id="baseResultMap" type="com.housekeeping.admin.vo.ManagerDetailsVO">
		<id property="id" column="id"/>
		<result property="number" column="number"/>
		<result property="name" column="name"/>
		<result property="dateOfBirth" column="date_of_birth"/>
		<result property="phone" column="phone"/>
		<result property="realName" column="real_name"/>
		<result property="email" column="email"/>
		<result property="schedule" column="schedule"/>
		<result property="companyId" column="company_id"/>
		<result property="idCard" column="id_card"/>
		<result property="location" column="location"/>
		<result property="address" column="address"/>
		<result property="workYear" column="work_year"/>
		<result property="educationBackground" column="education_background"/>
		<result property="accountLine" column="account_line"/>
		<result property="describes" column="describes"/>
		<result property="phoneUrl" column="phone_url"/>
		<result property="sex" column="sex"/>
		<result property="qrcode" column="qrcode"/>
		<result property="link" column="link"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="lastReviserId" column="last_reviser_id"/>
		<result property="lastReviserName" column="username"/>
		<result property="companyName" column="company_name"/>
	</resultMap>

	<select id="getScaleById" resultType="java.lang.String">
		select scale from company_scale where id = #{id}
	</select>

	<select id="cusPage" resultMap="baseResultMap">
		SELECT
		ed.id,
		ed.number,
		ed.name,
		ed.date_of_birth,
		ed.phone,
		ed.real_name,
		ed.email,
		ed.schedule,
		ed.company_id,
		ed.id_card,
		ed.location,
		ed.address,
		ed.work_year,
		ed.education_background,
		ed.account_line,
		ed.describes,
		ed.phone_url,
		ed.sex,
		ed.qrcode,
		ed.link,
		ed.create_time,
		ed.update_time,
		ed.last_reviser_id,
		s.`name` as username,
		cd.company_name
		FROM
		manager_details as ed
		LEFT JOIN sys_user as s ON ed.last_reviser_id = s.id
		LEFT JOIN company_details as cd ON ed.company_id = cd.id
		WHERE ed.company_id = #{companyId}
		<if test=" id != null and  id != ''">
			and ed.id =  #{id}
		</if>
	</select>

	<update id="updateHeadUrlById">
		UPDATE manager_details
		SET head_url = #{headUrl}
		WHERE user_id = #{userId}
    </update>
</mapper>
