<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.SysEnterpriseAuthenticationMessageMapper">

    <update id="undo">
        UPDATE sys_enterprise_authentication_message
        SET audit_status = 0
        WHERE company_id = #{companyId}
    </update>

</mapper>
