<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.SysJobContendMapper">
    <insert id="insertNote">
        INSERT INTO sys_content_note VALUES(null,#{maxIndexId},#{noteId})
    </insert>

    <delete id="cusRemoveNote">
        DELETE
        FROM
        sys_content_note
        WHERE
        content_id = #{id}
    </delete>

    <delete id="cusRemoveJob">
        DELETE
        FROM
        sys_index_content
        WHERE
        content_id = #{id}
    </delete>

    <select id="getAll" resultType="java.lang.Integer">
        SELECT
        note_id
        FROM
        sys_content_note
        WHERE
        content_id = #{id}
    </select>
</mapper>
