<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.admin.mapper.WorkDetailsMapper">
    <insert id="add">
        INSERT INTO work_details (`number`, `date`, week, time_slots, can_be_on_duty, today_price)
        VALUES (#{wd.number}, #{wd.date}, #{wd.week}, #{wd.timeSlots}, #{wd.canBeOnDuty}, #{wd.todayPrice})
    </insert>
</mapper>
