<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.housekeeping.auth.mapper.UserMapper">

	<insert id="insertOne">
		INSERT INTO `sys_user`(`number`, nickname, `name`, date_of_birth, phone, email, password, create_time, update_time, last_reviser_id)
		VALUES(
			#{number},
			#{userDTO.nickname},
			#{userDTO.name},
			#{userDTO.dateOfBirth},
			#{userDTO.phone},
			#{userDTO.email},
			#{userDTO.password},
			now(),
			now(),
			#{lastReviserId}
		)
	</insert>
	<update id="changePasswordByPhone">
		UPDATE `sys_user`
		SET password = #{newPassword}
		WHERE phone = #{phone}
	</update>

	<update id="bindingEmailByUserId">
		UPDATE sys_user
		SET email = #{email}
		WHERE id = #{userId}
    </update>
</mapper>
